<h1> About CheckMate </h1>

<div class="center jumbotron">
<h3>This app has been created by Christopher Williams.</h3>
<h4><i class="fa fa-quote-left"></i>The purpose of this app is to provide users with the ability to have an automated and unique ticket assigned to them when checking there coats.
The concept of an automated ticket saves paper, and eliminates the idea of losing your ticket,
 especially losing it after you just had a good time.This also enhances the experience a customer has whenever they step foot into an establishment.<i class="fa fa-quote-right"></i></h4>

 <%= link_to image_tag("Chess.jpg", size: "400x300") %>
