<!--backround with details for header on home page -->
			<div class="center jumbotron">
<h1><i class="fa fa-ticket"></i><underline> CheckMate </underline><i class="fa fa-ticket"></i></h1> 
<h3> <i class="fa fa-quote-left"></i>Welcome to the the best app for automating a coat checking service.  </h3>
<h3> When using CheckMate you won this round.<i class="fa fa-quote-right"></i>
 </h3>
</div>

<center>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</center>

  <h1><underline>Tips <i class="fa fa-question-circle"></underline></i></h1>


  <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-primary"> <i class="fa fa-usd"></i>1.00 TIP </a>
  <a href="#" class="btn btn-primary"> <i class="fa fa-usd"></i>1.50 TIP </a>
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>2.00 TIP</a>
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>2.00 TIP</a>
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>2.50 TIP</a>  
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>3.00 TIP</a>
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>3.50 TIP</a>
  <a href="#" class="btn btn-primary"><i class="fa fa-usd"></i>4.00 TIP</a>

</div>
