<div class="container2">
<center>
	<h1><underline> Additional Item? </underline></h1>
	<h2 class="reminder_title"> <i class="fa fa-quote-left"></i>Have an additional item that you want to have checked in? Dont worry, we can generate another ticket right here for you.<i class="fa fa-quote-right"></i> </h2>
<%= link_to image_tag("28334345-coat-check-clerk.jpg", size: "400x300",) %>
</center>


<%= link_to "Generate Your Ticket Number Here", tickets_show_path, class: "btn btn-primary btn-block" %>
</div>
